<html>
    <head>
        <title>Validacao token</title>
    </head>
    <body>
        <form action="/validatoken" method="POST">
            <label for="token">Token</label>
            <input type="text" id="token" name="token" >
            <button type="submit">Validar Token</button>
        </form>
    </body>

</html>